[Unit]
Description=CCNS QA chatbot for discord
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/bin/node /opt/quiz-chatbot/discord/index.js api.url token response-database.json
WorkingDirectory=/opt/quiz-chatbot/discord
Restart=always
RestartSec=30
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=quiz-chatbot-discord
Environment=NODE_ENV=production
DynamicUser=true

[Install]
WantedBy=multi-user.target
